/* Header */
header {
    background-color: #2a4d69;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

/* Navbar */
#navbar {
    overflow: hidden;
    background-color: #4b86b4;
    border-bottom: 15px solid #adcbe3;
}

#navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #e7eff6;
    color: #2a4d69;
}

/* Container */
#container {
  margin: 2% 5% 100px;
}

/* Card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #2a4d69;
    font-weight: 400;
    padding-top: 10px;
}

.card-content {
    padding: 2px 16px;
}

/* Footer */
footer {
    background-color: #2a4d69;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    text-decoration: underline;
}

/* Movies table */
#movies {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

#movies td {
  border: 1px solid #ddd;
  padding: 8px;
}

#movies th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}