/* Header */
header {
    background-color: #2a4d69;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

/* Navbar */
#navbar {
    overflow: hidden;
    background-color: #4b86b4;
    border-bottom: 15px solid #adcbe3;
}

#navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #e7eff6;
    color: #2a4d69;
}

/* Container */
#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

/* Card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #2a4d69;
    font-weight: 400;
    padding-top: 10px;
}

.card-content {
    padding: 2px 16px;
}

/* Footer */
footer {
    background-color: #2a4d69;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #ffffff;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    text-decoration: underline;
}
